.accordion {
  color: #565c65;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fcfcfc;
  font-weight: 400;
  border: none;
}

.accordionContent {
  padding: 0;
  background-color: #fcfcfc;
}
