.nav {
  display: none;
}

@media (min-width: 64em) {
  .nav {
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    height: 3rem;
    padding-left: 1rem;
  }
}

.nav ul {
  margin: 0;
}

.nav ul > li {
  margin-bottom: 0;
  max-width: unset;
}

.nav ul li {
  display: inline;
}

.nav a {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 0.9375rem;
  line-height: 1;
  color: #757575;
  display: inline-block;
  font-weight: 400;
  height: 3rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}

.nav a:hover {
  color: #2672de;
  outline-color: #2672de;
}

.nav a:hover:after {
  background-color: #2672de;
  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  height: 0.25rem;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}

.nav .is-current {
  color: black;
}

.nav ul > .current {
  color: black;
}
