.sideNav {
  display: unset;
}

.main {
  width: 100%;
  min-height: calc(100vh - 320px);
  padding: 5px;
}

@media (min-width: 64em) {
  .mainWithSideNav {
    width: calc(100% - 15rem);
    /* max-width: 700px; */
    display: inline-block;
  }
  .sideNav {
    width: 15rem;
    float: left;
    display: block;
  }
}

.mainCenter {
  margin: auto;
}

.floatLeft {
  float: left;
}
