@import "~uswds/dist/css/uswds.css";

.usa-banner__header-flag {
  margin-bottom: 0;
}

.default-container {
  background-color: #fcfcfc;
}

.sidenav {
  display: none;
}

@media (min-width: 64em) {
  .sidenav {
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 2rem;
    width: 15rem;
  }
}

#main-content {
  right: 0;
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-top: 2.5rem;
  position: relative;
  width: 100%;
  max-width: 700px;
  padding-left: 40px;
  margin-top: 0;
}

@media (min-width: 64em) {
  #main-content {
    width: calc(100% - 15rem);
  }
}

body,
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.usa-header {
  background: #252f3e;
  color: white;
}

.usa-logo a {
  color: white;
}

.usa-logo img {
  width: 100px;
  margin-left: 20px;
}

.usa-banner__inner {
  max-width: 10000px;
}
