.mrsiHeaderContainer {
  display: grid;
  grid-template-columns: 22% 38% 30% 15%;
  gap: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 7em;
  white-space: nowrap;
}

.mrsiHeaderLogo {
  margin: 1em;
  height: 90px;
}

.mrsiHeaderBody {
  margin: 1em;
  font-size: 30pt;
  font-weight: bold;
}

.mrsiHeaderERDCLogo {
  margin: 1em;
  margin-left: 2em;
  height: 70px;
}

.mrsiHeaderLogin {
  margin: 0;
  vertical-align: top;
  height: 70px;
}

.mrsiHeaderSearch {
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 0;
}
