.mrsiHeaderContainer {
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  gap: 0em;
  height: 5.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.mrsiHeaderLogo {
  margin: 1em;
}

.mrsiHeaderBody {
  margin: 0;
  margin-top: 0.5em;
  font-size: 28pt;
  font-weight: bold;
}

.mrsiHeaderLogin {
  margin: 0em;
  vertical-align: top;
  margin-left: 5em;
}

.mrsiHeaderSearch {
  margin-top: auto;
  margin-bottom: 4px;
  margin-right: 0;
}
