.mapContainer {
  height: 500px;
  width: calc(100% - 30rem);
  display: inline-block;
}

.listContainer {
  height: 500px;
  width: 30rem;
  float: right;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
}
