.mapContainer {
  height: 600px;

  width: 100%;
  /* display: inline-block; */
  font-size: 100%;
}

.listContainer {
  /* max-height: 800px;
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll; */
  margin: 50px 0;
}

.listContainer td:hover {
  background-color: #dcdee0;
}
