.banner {
  background-color: rgb(240, 240, 240);
  color: black;
  padding: 24px 0px;
}

.bannerLeft {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}

.bannerBody {
  display: table-cell;
  vertical-align: top;
  /* width: 10000px; */
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}

.menu {
  display: none;
}

@media (max-width: 525px) {
  .banner {
    padding: 5px;
  }
  .logo {
    height: 30px;
  }
  .bannerBody {
    display: none;
  }
}
